<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Произошла ошибка {{ status_text }}</title>
</head>
<body>
<h1>Внимание! Произошла ошибка</h1>
<h2>Сервер возвратил ошибку "{{ status_code }} {{ status_text }}".</h2>

<div>
    Что-то пошло не так. Наша служба технической поддержки уже получила оповещение о произошедшей ошибке и занимается её
    исправлением. Если Вы хотите помочь нам в этом, пожалуйста, отправьте электронное письмо на наш адрес <a
    href="mailto://alex@glavcredit.com">alex@glavcredit.com</a> и напишите, что Вы делали, когда эта ошибка
    произошла. Вы также можете позвонить на наш телефон <strong>8 (800) 250-43-33</strong> (звонок бесплатный!) и
    сообщить о своей проблеме или оставить заявку на получение кредитной истории по телефону. Мы исправим ошибку в
    кратчайшие сроки. Извините за доставленные неудобства.
</div>
</body>
</html>
