{% extends "SoglasieCommonBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets
        '@bootstrap_css'
        filter='scss' filter='?uglifycss' filter='cssrewrite'
    %}
    <link rel = "stylesheet" href = "{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src = "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% javascripts '@jquery' %}
    <script>window.jQuery || document.write('<script src="{{ asset_url }}"><\/script>')</script>
    {% endjavascripts %}

    {% javascripts '@bootstrap_js' filter='closure' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}
