{% spaceless %}
<!doctype html>
<html lang = "ru">

<head>
    <meta charset = "UTF-8">
    <title>{% block title %}Быстрая проверка кредитной истории{% endblock %}</title>
    {% image '@SoglasieCommonBundle/Resources/public/img/favicon.ico' %}
        <link rel = "shortcut icon" href = "{{ asset_url }}" type = "image/ico">
    {% endimage %}
    {% block stylesheets %}
        {% stylesheets
            '@SoglasieCommonBundle/Resources/public/scss/main.scss'
            filter='scss' filter='?uglifycss' filter='cssrewrite'
        %}
        <link href = "{{ asset_url }}" type = "text/css" rel = "stylesheet" media = "all"/>
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block javascripts %}
        <script src = "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% javascripts '@jquery' %}
            <script>window.jQuery || document.write('<script src="{{ asset_url }}"><\/script>')</script>
        {% endjavascripts %}

        {% javascripts
            '@SoglasieCommonBundle/Resources/public/js/01-jquery.placeholder.js'
            '@SoglasieCommonBundle/Resources/public/js/02-jquery.arcticmodal.js'
            '@SoglasieCommonBundle/Resources/public/js/04-forms.js'
            '@SoglasieCommonBundle/Resources/public/js/05-jquery.maskedinput.js'
            '@SoglasieCommonBundle/Resources/public/js/06-jquery.countdown.js'
            '@SoglasieCommonBundle/Resources/public/js/07-main.js'
            filter='?closure'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>

</html>
{% endspaceless %}
