Тип заявки: {{ order.titlesList[order.type] }}
Номер заявки: {{ order.id }}
Имя: {{ order.user.name }}
{% if order.user.email %}
Email: {{ order.user.email }}
{% endif %}
Номер телефона: {{ order.user.phone }}
{% if phoneRegion is not empty %}
Регион по номеру телефона: {{ phoneRegion }}
{% endif %}
{% if ipRegion is not empty %}
Регион по ip-адресу: {{ ipRegion }}
{% endif %}
