Здравствуйте, {{ order.user.name }}!
На сайте http://согласие-финанс.рф/ Вами была подана заявка на получение кредитной истории. Просим Вас оплатить заявку, для этого перейдите на наш сайт: http://согласие-финанс.рф/payment-details/{{ order.id }}
Посмотреть и получить заявку Вы можете в своём Личном кабинете на нашем сайте: http://согласие-финанс.рф/admin/
Имя пользователя для входа в Личный кабинет: {{ order.user.username }}
Забыли пароль? Вы можете восстановить его по этой ссылке: http://согласие-финанс.рф/resetting/request
Есть вопросы по заявке? Позвоните нам: 8 (800) 250-43-33. Звонок бесплатный!