Тип заявки: {{ order.titlesList[order.type] }}
Номер заявки: {{ order.id }}
Имя: {{ order.user.name }}
{% if order.user.email %}
Email: {{ order.user.email }}
{% endif %}
Номер телефона: {{ order.user.phone }}
{{ address }}
