Здравствуйте, {{ order.user.name }}!
Ваша заявка на получение кредитной истории от {{ order.created|date('d.m.Y') }} номер {{ order.id }} оплачена.
В ближайшее время наш менеджер отправит Вам Вашу кредитную историю.
{#Для того, чтобы посмотреть свои данные по БКИ, зайдите в свой личный кабинет по адресу: http://согласие-финанс.рф/login/.#}