Здравствуйте, {{ name }}!
Вы успешно зарегистрировались на сайте финансовой компании Согласие-Финанс!
Адрес Вашего личного кабинета: http://согласие-финанс.рф/admin/
Ваше имя пользователя: {{ username }} (это номер телефона, который вы указывали при заполнении заявки)
Ваш пароль для доступа: {{ password }}

--
С уважением, служба поддержки компании Согласие-Финанс

Email: 23@согласие-финанс.рф
Телефон: 8 (800) 250-43-33