{% extends "SoglasieCommonBundle::cabinet.html.twig" %}

{% block container %}
    <div class="col-sm-12 text-center">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-warning" role="alert">
            {{ flashMessage }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Закрыть</span>
            </button>
        </div>
    {% endfor %}
        <div class="alert alert-info" role="alert">
                Заявка <b>#{{ order.id|default('') }}</b> была успешно оплачена.
                <br/>
            Для дальнейшей работы с заявками войдите в свой личный кабинет.
            <br/>
            Пароль от личного кабинета был выслан Вам на указанный Вами номер телефона и e-mail.
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Закрыть</span>
            </button>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
            <br/>

            <form class="form-horizontal" action="{{ path("sonata_user_security_check") }}" method="post" role="form">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="username">Имя пользователя:</label>

                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="username" name="_username" required="required"
                                value="{{ order.user.username|default('') }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password">Пароль:</label>

                    <div class="col-sm-6">
                        <input class="form-control" type="password" id="password" name="_password"
                                required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-6">
                        <button type="submit" class="btn btn-default">Войти в систему</button>
                    </div>
                </div>
                <input name = "_target_path" type = "hidden" value="{{ path('sonata_admin_dashboard') }}"/>
            </form>
            Вы не получили свой пароль? <a href="{{ path('fos_user_resetting_request') }}">Нажмите здесь, чтобы повторно
                выслать его.</a>
        </div>
    </div>
{% endblock %}
