{% extends "SoglasieCommonBundle::cabinet.html.twig" %}

{% block container %}
    <div class="col-sm-12 text-center">
        <form action = "" method = "post">
            <button class="btn btn-primary" type="submit">
                <i class="glyphicon glyphicon-log-in"></i>
                Перейти на сайт оплаты
            </button>
        </form>
    </div>
    <div class="clearfix"></div>
    <br/>
    <div class="col-sm-5">
        <h4>Реквизиты:</h4>
        <small>
            Общество с ограниченной ответственностью Согласие-Финанс
            <br/>
            ИНН: 2311177389
            <br/>
            КПП: 231101001
            <br/>
            ОГРН: 1142311012568
            <br/>
            Юридический адрес: 350072, Россия, Краснодарский край, г. Краснодар, ул. 40 Лет Победы, дом 56
            <br/>
            Сайт: <a href = "http://согласие-финанс.рф">http://согласие-финанс.рф</a>
            <br/>
            E-mail: <a href = "mailto://23@согласие-финанс.рф">23@согласие-финанс.рф</a>
        </small>
    </div>
    <div class="col-sm-offset-1 col-sm-5">
        <h4>Банковские реквизиты:</h4>
        <small>
            р/с: 40702810731100000173 в ОАО АКБ «Авангард» г. Краснодар
            <br/>
            К/счет: 30101810000000000201
            <br/>
            БИК: 044525201
            <br/>
            ИНН: 7702021163
            <br/>
            КПП: 775001001
        </small>
    </div>
{% endblock %}
