{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block formactions %}
    <div class="well well-small form-actions">
        {% if app.request.isxmlhttprequest %}
            {% if admin.id(object) is not null %}
                <button type="submit" class="btn btn-success" name="btn_update">
                    <i class="fa fa-save"></i>
                    {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}
                </button>
            {% else %}
                <button type="submit" class="btn btn-success" name="btn_create">
                    <i class="fa fa-plus-circle"></i>
                    {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}
                </button>
            {% endif %}
        {% else %}
            {% if admin.supportsPreviewMode %}
                <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                    <i class="fa fa-eye"></i>
                    {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                </button>
            {% endif %}
            {% if admin.id(object) is not null %}
                <button type="submit" class="btn btn-success" name="btn_update_and_edit">
                    <i class="fa fa-save"></i>
                    {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                </button>

                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                    <button type="submit" class="btn btn-success" name="btn_update_and_list">
                        <i class="fa fa-save"></i> <i class="fa fa-list"></i>
                        {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endif %}

                {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                    <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">
                        <i class="fa fa-minus-circle"></i>
                        {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}
                    </a>
                {% endif %}

                {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                    <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}">
                        <i class="fa fa-users"></i>
                        {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}
                    </a>
                {% endif %}

                {% if constant('Soglasie\\CommonBundle\\Entity\\Order::STATUS_PAID') == object.status %}
                    <button type="submit" class="btn btn-success" name="btn_nbki">
                        <i class="fa fa-bar-chart-o"></i>
                        {{ 'sonata.btn.nbki'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endif %}

                {% if constant('Soglasie\\CommonBundle\\Entity\\Order::STATUS_SENT') == object.status %}
                    <a class="btn btn-success" target="_blank" href="{{ admin.generateObjectUrl('data', object) }}">
                        <i class="fa fa-file-image-o"></i>
                        {{ 'sonata.btn.get_data'|trans({}, 'SonataAdminBundle') }}
                    </a>
                {% endif %}

            {% else %}
                {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                    <button class="btn btn-success" type="submit" name="btn_create_and_edit">
                        <i class="fa fa-save"></i>
                        {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endif %}
                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                    <button type="submit" class="btn btn-success" name="btn_create_and_list">
                        <i class="fa fa-save"></i> <i class="fa fa-list"></i>
                        {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endif %}
                <button class="btn btn-success" type="submit" name="btn_create_and_create">
                    <i class="fa fa-plus-circle"></i>
                    {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}
                </button>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}