{% if constant('Soglasie\\CommonBundle\\Entity\\Order::STATUS_SENT') == object.status %}
    <a class="btn btn-success" target="_blank" href="{{ admin.generateObjectUrl('data', object) }}">
        <i class="fa fa-file-image-o"></i>
        {{ 'sonata.btn.get_data'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}