{% if constant('Soglasie\\CommonBundle\\Entity\\Order::STATUS_PAID') == object.status %}
    <a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}">
        <i class="fa fa-bar-chart-o"></i>
        {{ 'sonata.btn.nbki'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}