{% if constant('Soglasie\\CommonBundle\\Entity\\Order::STATUS_CREATED') == object.status %}
<a class="btn btn-success" target="_blank" href="{{ path('payment_details', {id: object.id}) }}">
    <i class="fa fa-credit-card"></i>
    {{ 'sonata.btn.pay'|trans({}, 'SonataAdminBundle') }}
</a>
{% endif %}