{% extends "SoglasieCommonBundle::layout.html.twig" %}

{% block title %}
    Проверка и исправление плохой кредитной истории в бюро кредитных историй: НБКИ, Equifax (Эквифакс), антиколлекторы -
    защита от коллекторов в Краснодаре и Краснодарском крае.
{% endblock %}

{% block content %}
    <div class="globalWrapper">

    <div class="headerWrapper cf">
        <div class="headerBlock resize cf">
            <a href="#" onclick="$('#modalFormOwn').arcticmodal(); return false;">Закажите обратный звонок</a>

            <h2>Наш телефон:&nbsp;&nbsp;<span>8 (800) 250-43-33</span></h2>

            <h3>Звонок бесплатный</h3>
        </div>
    </div>

    <div class="headWrapper cf">
        <div class="headBlock resize cf">
            <h2>Быстрая проверка кредитной истории</h2>

            <div class="tab">
                <h3>Узнать<br>кредитную историю</h3>

                {{ form_start(order_form_0) }}
                <fieldset style="border:none;">
                    <label class="name">
                        {{ form_widget(order_form_0.name) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="phone">
                        {{ form_widget(order_form_0.phone) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="email notRequired">
                        {{ form_widget(order_form_0.email) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    {{ form_widget(order_form_0.submit) }}
                    <input type="hidden" name="order_form_0[amount]" value="450"/>
                </fieldset>
                {{ form_end(order_form_0, {'render_rest': false}) }}
            </div>
        </div>
    </div>

    <div class="timerWrapper cf">
        <div class="timerBlock resize cf">
            <div class="time">
                <div class="timeInfo">
                    <h2 style="padding: 15px 0 0 0;">ВНИМАНИЕ! АКЦИЯ!</h2>
                    <h2 style="padding: 10px 0 0 0;">При заказе кредитной истории</h2>

                    <h3>рекомендации финансового эксперта</h3>
                    <h4>бесплатно!</h4>

                    <div id="countdown"></div>
                </div>
                <div class="tab1">
                    <h5>Заказать по акции!</h5>

                    {{ form_start(order_form_1) }}
                    <fieldset style="border:none;">
                        <label class="name">
                            {{ form_widget(order_form_1.name) }}
                            <span class="error error-empty">*</span>
                            <span class="empty error-empty">*</span>
                        </label>
                        <label class="phone">
                            {{ form_widget(order_form_1.phone) }}
                            <span class="error error-empty">*</span>
                            <span class="empty error-empty">*</span>
                        </label>
                        <label class="email notRequired">
                            {{ form_widget(order_form_1.email) }}
                            <span class="error error-empty">*</span>
                            <span class="empty error-empty">*</span>
                        </label>
                        {{ form_widget(order_form_1.submit1) }}
                        <input type="hidden" name="order_form_1[amount]" value="390"/>
                    </fieldset>
                    {{ form_end(order_form_1, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="logoWrapper cf">
        <div class="logoBlock resize cf">
            <h2>Наши партнеры</h2>
            <ul>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/logo/logo1.png' %}
                    <img alt="НБКИ, Национальное бюро кредитных историй" title="НБКИ, Национальное бюро кредитных историй" src="{{ asset_url }}">
                    {% endimage %}
                </li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/logo/logo2.png' %}
                    <img alt="Equifax, Эквифакс" title="Equifax, Эквифакс" src="{{ asset_url }}">
                    {% endimage %}
                </li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/logo/logo3.png' %}
                    <img alt="Сбербанк" title="Сбербанк" src="{{ asset_url }}">
                    {% endimage %}
                </li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/logo/logo4.png' %}
                    <img alt="Банк Русский Стандарт" title="Банк Русский Стандарт" src="{{ asset_url }}">
                    {% endimage %}
                </li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/logo/logo5.png' %}
                    <img alt="Объединенное кредитное бюро" title="Объединенное кредитное бюро" src="{{ asset_url }}">
                    {% endimage %}
                </li>
            </ul>
        </div>
    </div>

    <div class="underWrapper cf">
        <div class="underBlock resize cf">
            <ul>
                <li>
                    <div style="float: right;"><h3>Более<br><span>3500</span></h3></div>
                    <p style="text-align: right;">Предоставленных отчетов<br>о кредитной истории</p></li>
                <li>
                    <div><h3>Более<br><span>700</span></h3></div>
                    <p style="text-align: center;">Исправленных<br>кредитных историй</p></li>
                <li>
                    <div style="margin-left: 1px;"><h3>Более<br><span>2300</span></h3></div>
                    <p style="text-align: left;">Полученных кредитов<br>на более выгодных условиях</p></li>
            </ul>
        </div>
    </div>

    <div class="whatWrapper cf">
        <div class="whatBlock resize cf">
            <div class="center">
                <h3>Что такое кредитная история?</h3>

                <p>Кредитная история – главный фактор, на который опирается банк при принятии решения о выдаче
                    кредита.</p>
            </div>
            <div class="right">
                <h3>Где она хранится?</h3>

                <p>Кредитная история хранится в кредитном бюро, которое получает информацию из банков, где вы
                    оформляли
                    кредит.</p>
            </div>
            <div class="cf"></div>
            <div class="right">
                <h3>Для чего нужно ее знать?</h3>

                <p>Вы сможете проверить ее и исправить ошибки банков, чтобы взять кредит на более выгодных
                    условиях.</p>
            </div>
            <div class="center" style="margin-top: 200px;">
                <h3>Как можно ее получить?</h3>

                <p>В течение 15 минут вы можете получить подробные данные о вашей кредитной истории в простой и
                    понятной
                    форме.</p>
            </div>
        </div>
    </div>

    <div class="haveWrapper cf">
        <div class="haveBlock resize cf">
            <h2>Вы получите</h2>

            <div class="part1">
                {% image '@SoglasieCommonBundle/Resources/public/img/have/photo1.png' %}
                <img alt="Информация о кредитной истории из кредитного бюро" title="Информация о кредитной истории из кредитного бюро" src="{{ asset_url }}">
                {% endimage %}

                <h3>Информация<br>о кредитной истории<br><span>из кредитного бюро</span></h3>
                <h4 style="margin-top: 66px;">450 <sup>рублей</sup></h4>
                <a href="#" onclick="$('#modalFormInfo1').arcticmodal(); return false;">заказать</a>
            </div>
            <div class="part2">
                {% image '@SoglasieCommonBundle/Resources/public/img/have/photo2.png' %}
                <img alt="Расширенная информация о кредитной истории из кредитного бюро" title="Расширенная информация о кредитной истории из кредитного бюро" src="{{ asset_url }}">
                {% endimage %}

                <h3>Информация<br>о кредитной истории<br><span>с рекомендациями, включая</span></h3>

                <div class="info">
                    <div>
                        социально-демографический
                        <br>
                        рейтинг
                    </div>
                    <div class="ghost">
                        <h5>Основан на статистике банков по отказам для схожих по параметрам людей (кол-во членов
                            семьи,
                            профиль деятельности, возраст и т.д.). Помогает понять, что нужно изменить, чтобы
                            стать для
                            банка хорошим заемщиком.</h5>
                    </div>
                </div>
                <h4>700 <sup>рублей</sup></h4>
                <a href="#" onclick="$('#modalFormInfo2').arcticmodal(); return false;">заказать</a>
            </div>
        </div>
    </div>
    </div>

    <div class="problemWrapper cf">
        <div class="problemBlock resize cf">
            <p style="color:#243958;text-align:center;font-size:30px; font-family: 'MyriadProBoldSemiExtended', sans-serif;position:relative;top:70px; text-transform: uppercase;">
                Трудности при самостоятельном заказе</p>
            <ul>
                <li class="s1">
                    {% image '@SoglasieCommonBundle/Resources/public/img/problem/error.png' %}
                    <img alt="Запрос в бюро кредитных историй" title="Запрос в бюро кредитных историй" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Сложность заказа, долгое время ответа</h3>

                    <p>При заказе кредитной истории напрямую через бюро кредитных историй, <span>необходимо пройти процедуру регистрации, отправки документов почтой для активации учетной записи, затем сделать официальный запрос в бюро кредитных историй по почте, и также по почте получить ответ.</span>
                        Это занимает массу времени. </p></li>
                <li class="s2">
                    {% image '@SoglasieCommonBundle/Resources/public/img/problem/error.png' %}
                    <img alt="Обобщённая информация по кредитной истории" title="Обобщённая информация по кредитной истории" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Слишком обобщенная информация</h3>

                    <p>Часто клиенту вместо конкретной информации, учитывающей все подробности его кредитной истории,
                        <span>предоставляется обобщенная информация о его суммарной задолженности перед банками, без детализации,</span>
                        где и сколько он брал и сколько должен на данный момент.</p></li>
                <li class="s1">
                    {% image '@SoglasieCommonBundle/Resources/public/img/problem/error.png' %}
                    <img alt="Непонятная информация по кредитной истории" title="Непонятная информация по кредитной истории" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Информация изложена непонятно</h3>

                    <p>Бюро кредитных историй <span>предоставляют информацию в непрезентабельном виде</span> – со
                        специфическими терминами, сокращениями и без комментариев. Неподготовленному человеку сложно
                        разобраться с этой информацией.</p></li>
                <li class="s2">
                    {% image '@SoglasieCommonBundle/Resources/public/img/problem/error.png' %}
                    <img alt="Отсутствие дополнительных услуг юристов" title="Отсутствие дополнительных услуг юристов" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Отсутствие дополнительных услуг</h3>

                    <p>Большинство компаний не предлагают дальнейшее сотрудничество, поэтому клиент <span>после получения информации о своей кредитной истории вынужден самостоятельно искать юриста,</span>
                        который будет заниматься ее оспариванием или исправлением.</p></li>
            </ul>
        </div>
    </div>

    <div class="plusWrapper cf">
        <div class="plusBlock resize cf">
            <h2><b>?</b><span>Почему</span> МЫ?</h2>

            <div class="cf"></div>
            <ul>
                <li style="width: 445px;">
                    {% image '@SoglasieCommonBundle/Resources/public/img/plus/icon1.png' %}
                    <img alt="Информация с детализацией платежей" title="Информация с детализацией платежей" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Больше информации </h3>

                    <p>Вы можете выбрать необходимый объем информации о кредитной истории – начиная с обобщенных данных,
                        заканчивая детализацией платежей.</p></li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/plus/icon2.png' %}
                    <img alt="Гарантия правильных данных по кредитной истории" title="Гарантия правильных данных по кредитной истории" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Гарантия правильных<br>данных</h3>

                    <p>Мы предоставляем только достоверную информацию. Вы можете убедиться в этом, изучив детализацию -
                        даты
                        заключения кредитных договоров, суммы кредита и другие данные, которые невозможно подделать.</p>
                </li>
                <li style="width: 445px;">
                    {% image '@SoglasieCommonBundle/Resources/public/img/plus/icon3.png' %}
                    <img alt="Удобная форма данных по кредитной истории" title="Удобная форма данных по кредитной истории" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Удобная форма<br>предоставления данных</h3>

                    <p>Мы предоставим вам информацию, изложенную в понятной и легко читаемой форме.</p></li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/plus/icon4.png' %}
                    <img alt="Быстрота получения данных по кредитной истории" title="Быстрота получения данных по кредитной истории" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Быстрота и удобство<br>обслуживания</h3>

                    <p>Мы вышлем информацию по вашей кредитной истории вам на почту в течение 15 минут с момента
                        поступления
                        вашей заявки.</p></li>
                <li style="width: 445px;">
                    {% image '@SoglasieCommonBundle/Resources/public/img/plus/icon5.png' %}
                    <img alt="Удобство оплаты кредитной истории" title="Удобство оплаты кредитной истории" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Удобство оплаты</h3>

                    <p>Вы можете выбрать наиболее удобный для вас способ оплаты в сервисе Robokassa без комиссии.</p>
                </li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/plus/icon6.png' %}
                    <img alt="Продолжение сотрудничества после предоставления кредитной истории" title="Продолжение сотрудничества после предоставления кредитной истории" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Продолжение<br>сотрудничества</h3>

                    <p>После предоставления кредитной истории, мы готовы предложить услуги, включающие в себя полную
                        реструктуризацию долгов и помощь в получении кредита с минимальной процентной ставкой.</p></li>
                <li class="neo">
                    {% image '@SoglasieCommonBundle/Resources/public/img/plus/icon7.png' %}
                    <img alt="Возможность заработать на кредитных историях" title="Возможность заработать на кредитных историях" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Возможность заработать!</h3>

                    <p>Зарабатывайте с нами</p><a href="#"
                            onclick="$('#modalFormInfo').arcticmodal(); return false;">Подробнее</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="centerWrapper cf">
        <div class="centerBlock resize cf">
            <div class="tab2">
                <h2>БЕСПЛАТНО</h2>

                <h3>получить консультацию<br><span>финансового эксперта</span></h3>

                {{ form_start(order_form_2) }}
                <div class="success_wrapper">
                    <div class="success">Спасибо! Мы с Вами свяжемся в ближайшее время!</div>
                </div>
                <fieldset style="border:none;">
                    <label class="name">
                        {{ form_widget(order_form_2.name) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="phone">
                        {{ form_widget(order_form_2.phone) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    {{ form_widget(order_form_2.submit1) }}
                </fieldset>
                {{ form_end(order_form_2, {'render_rest': false}) }}
            </div>
        </div>
    </div>

    <div class="respontWrapper cf">
        <div class="respontBlock resize cf">
            <h2>Отзывы наших клиентов </h2>
            <ul>
                <li style="height: 160px;">
                    {% image '@SoglasieCommonBundle/Resources/public/img/respont/photo1.png' %}
                    <img alt="Быстро получил кредитную историю" title="Быстро получил кредитную историю" src="{{ asset_url }}">
                    {% endimage %}

                    <div><h3>Владимир Холкин</h3>

                        <p>Большое спасибо за оперативность, реально быстро получил свою кредитную историю.</p></div>
                </li>
                <li style="height: 222px;">
                    {% image '@SoglasieCommonBundle/Resources/public/img/respont/photo2.png' %}
                    <img alt="Исправили кредитную историю" title="Исправили кредитную историю" src="{{ asset_url }}">
                    {% endimage %}

                    <div><h3>Оксана Титова</h3>

                        <p>Оплатив полную кредитную историю мне еще не исправили ее, но с банка, с которым конфликт уже
                            позвонили, предложили зайти в юр.отдел написать заявление с требованием внести изменения в
                            БКИ.</p></div>
                </li>
                <li style="height: 200px;">
                    {% image '@SoglasieCommonBundle/Resources/public/img/respont/photo3.png' %}
                    <img alt="Быстро прислали кредитную историю" title="Быстро прислали кредитную историю" src="{{ asset_url }}">
                    {% endimage %}

                    <div><h3>Ирина Климова</h3>

                        <p>Обратилась в компанию кредитную историю прислали быстро, юристы помогли ее исправить, теперь
                            взяла кредит в Сбере под 17% годовых. Хорошие у вас юристы, большое им спасибо!</p></div>
                </li>
            </ul>
            <ul>
                <li style="height: 340px;">
                    {% image '@SoglasieCommonBundle/Resources/public/img/respont/photo4.png' %}
                    <img alt="Плохая кредитная история" title="Плохая кредитная история" src="{{ asset_url }}">
                    {% endimage %}

                    <div><h3>Артур Медведев</h3>

                        <p>Пишу сюда, потому что это единственные люди, которые реально мне помогли! У меня плохая
                            кредитная история, постоянно звонили мне и моим близким из банков, коллектора, замучали!
                            После заказа кредитной истории, мне позвонили из компании, предложили помощь. Сразу
                            перестали звонить коллектора!! Через суд добились, чтобы я платил 5000 руб. в месяц, и все!
                            Никаких звонков, писем из банков! Наконец могу спокойно спать! Спасибо огромное!</p></div>
                </li>
                <li style="height: 200px;">
                    {% image '@SoglasieCommonBundle/Resources/public/img/respont/photo5.png' %}
                    <img alt="Поручитель по кредиту" title="Поручитель по кредиту" src="{{ asset_url }}">
                    {% endimage %}

                    <div><h3>Денис Архипов</h3>

                        <p>Друг взял кредит, я был поручителем, после того как он перестал платить по кредиту меня
                            завалили звонками, я сменил телефон, но теперь мне отказывают в кредите. Купил кредитную
                            историю, выяснил в чем была проблема, Направили претензионное письмо в банк юристы
                            компании.. В течении месяца, сняли негатив. Большое спасибо!</p></div>
                </li>
            </ul>
        </div>
    </div>


    <div class="howWrapper cf">
        <div class="howBlock resize cf">
            <h2>Как мы работаем</h2>
            <ul>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/how/icon1.png' %}
                    <img alt="Оставьте заявку на кредитную историю" title="Оставьте заявку на кредитную историю" style="margin-right: 50px;" src="{{ asset_url }}">
                    {% endimage %}

                    <h3 style="margin-right: 50px;">Вы звоните<br>или оставляете заявку </h3></li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/how/icon2.png' %}
                    <img alt="Оплатите заявку на кредитную историю" title="Оплатите заявку на кредитную историю" src="{{ asset_url }}">
                    {% endimage %}

                    <h3>Оплачиваете удобным для<br>вас способом</h3></li>
                <li>
                    {% image '@SoglasieCommonBundle/Resources/public/img/how/icon3.png' %}
                    <img alt="Получите кредитную историю" title="Получите кредитную историю" style="margin-left: 60px;" src="{{ asset_url }}">
                    {% endimage %}

                    <h3 style="margin-left: 60px;">В течение 15 минут получаете<br>информацию на e-mail </h3></li>

            </ul>
        </div>
    </div>


    <div class="footerWrapper cf">
        <div class="footerBlock resize cf">
            <h2>Также Мы Бесплатно предоставляем информацию:<br><span>Выберите пункт, по которому Вы хотите получить информацию.</span>
            </h2>

            <div class="checkBox">
                <input type="checkbox" id="check-1" class="element-checkbox" name="check-1"
                        value="Как не переплачивать по кредиту">
                <label for="check-1"><span style="padding-top: 10px;">Как не переплачивать по кредиту</span></label>

                <input type="checkbox" id="check-2" class="element-checkbox" name="check-2"
                        value="Как банки принимают решение о выдаче кредита и как повлиять на это">
                <label for="check-2"><span>Как банки принимают решение о выдаче кредита<br>и как повлиять на это</span></label>

                <input type="checkbox" id="check-3" class="element-checkbox" name="check-3"
                        value="Долг перед банком: как уберечь себя и свое имущество">
                <label for="check-3"><span>Долг перед банком: как уберечь себя и<br>свое имущество</span></label>

                <input type="checkbox" id="check-4" class="element-checkbox" name="check-4"
                        value="Как избавиться от коллекторов раз и навсегда">
                <label for="check-4"><span
                            style="padding-top: 10px;">Как избавиться от коллекторов раз и навсегда</span></label>
            </div>
            <div class="tab3">
                <h5>Хочу получить<br>информацию!</h5>

                {{ form_start(order_form_3) }}
                <div class="success_wrapper">
                    <div class="success">Спасибо! Мы с Вами свяжемся в ближайшее время!</div>
                </div>
                <fieldset style="border:none;">
                    <label class="phone">
                        {{ form_widget(order_form_3.phone) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="email">
                        {{ form_widget(order_form_3.email) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="check1 notRequired">
                        <input type="hidden" class="box1" name="check1" value="">
                    </label>
                    <label class="check2 notRequired">
                        <input type="hidden" class="box2" name="check2" value="">
                    </label>
                    <label class="check3 notRequired">
                        <input type="hidden" class="box3" name="check3" value="">
                    </label>
                    <label class="check4 notRequired">
                        <input type="hidden" class="box4" name="check4" value="">
                    </label>
                    {{ form_widget(order_form_3.submit2) }}
                </fieldset>
                {{ form_end(order_form_3, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <!-- Кнопка "Заказать обратный звонок" -->
    <div style="display: none;">
        <div class="box-modal" id="modalFormOwn">
            <div class="box-modal_close arcticmodal-close"></div>
            <div class="form_zakaz2">
                <h3>Заполните заявку<br>и мы вам перезвоним</h3>

                {{ form_start(order_form_4) }}
                <div class="success_wrapper">
                    <div class="success">Спасибо!<br>Мы с Вами свяжемся<br>в ближайшее время!</div>
                </div>
                <fieldset style="border:none;">
                    <label class="name">
                        {{ form_widget(order_form_4.name) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="phone">
                        {{ form_widget(order_form_4.phone) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="email notRequired">
                        {{ form_widget(order_form_4.email) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    {{ form_widget(order_form_4.submit) }}
                </fieldset>
                {{ form_end(order_form_4, {'render_rest': false}) }}
            </div>
        </div>
    </div>

    <!-- Кнопка "Информация" -->
    <div style="display: none;">
        <div class="box-modal" id="modalFormInfo1">
            <div class="box-modal_close arcticmodal-close"></div>
            <div class="form_zakaz2">
                <h3>Заполните заявку</h3>

                {{ form_start(order_form_5) }}
                <fieldset style="border:none;">
                    <label class="name">
                        {{ form_widget(order_form_5.name) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="phone">
                        {{ form_widget(order_form_5.phone) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="email notRequired">
                        {{ form_widget(order_form_5.email) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    {{ form_widget(order_form_5.submit) }}
                    <input type="hidden" name="order_form_5[amount]" value=""/>
                </fieldset>
                {{ form_end(order_form_5, {'render_rest': false}) }}
            </div>
        </div>
    </div>

    <div style="display: none;">
        <div class="box-modal" id="modalFormInfo2">
            <div class="box-modal_close arcticmodal-close"></div>
            <div class="form_zakaz2">
                <h3>Заполните заявку</h3>

                {{ form_start(order_form_6) }}
                <fieldset style="border:none;">
                    <label class="name">
                        {{ form_widget(order_form_6.name) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="phone">
                        {{ form_widget(order_form_6.phone) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    <label class="email notRequired">
                        {{ form_widget(order_form_6.email) }}
                        <span class="error error-empty">*</span>
                        <span class="empty error-empty">*</span>
                    </label>
                    {{ form_widget(order_form_6.submit) }}
                    <input type="hidden" name="order_form_6[amount]" value="700"/>
                </fieldset>
                {{ form_end(order_form_6, {'render_rest': false}) }}
            </div>
        </div>
    </div>

    <!-- Кнопка "Подробнее" -->
    <div style="display: none;">
        <div class="box-modal2" id="modalFormInfo">
            <div class="box-modal_close arcticmodal-close"></div>
            <h2>Рекомендуй нас друзьям и знакомым и получай деньги за кредитные истории, проданные по твоей
                рекомендации</h2>
            <a href="#" id="neo" class="arcticmodal-close"
                    onclick="$('#modalFormOwn').arcticmodal(); return false;">зарегистрироваться >></a>
        </div>
    </div>

    <!-- Переход на страницу оплаты -->
    <div style="display: none; position: relative;">
        <div id="payment">
            <div class="payment-header">
                Пример отчета, который Вы получите
            </div>
            <div class="payment-report">
                {% image '@SoglasieCommonBundle/Resources/public/img/credit-history-example.jpg' %}
                <img src="{{ asset_url }}" alt="Пример отчёта по кредитной истории" title="Пример отчёта по кредитной истории" style="" />
                {% endimage %}
            </div>
            <div class="payment-footer">
                <div class="h1 col-sm-2">
                    Ваши действия:
                </div>
                <div class="col-sm-2">Оплачиваете</div>
                <div class="col-sm-1">
                    {% image '@SoglasieCommonBundle/Resources/public/img/arrow.png' %}
                    <img src="{{ asset_url }}" alt="Оплатить получение кредитной истории" title="Оплатить получение кредитной истории" class="img-responsive" />
                    {% endimage %}
                </div>
                <div class="col-sm-2">Заполняете данные</div>
                <div class="col-sm-1">
                    {% image '@SoglasieCommonBundle/Resources/public/img/arrow.png' %}
                    <img src="{{ asset_url }}" alt="Заполнить данные для бюро кредитных историй" title="Заполнить данные для бюро кредитных историй"" class="img-responsive" />
                    {% endimage %}
                </div>
                <div class="col-sm-2">
                    В течение 15 минут получаете отчёт</div>
                <div class="col-sm-2">
                    <button onclick="location.href='/payment-details/' + $(this).data('id'); return false;">
                        Перейти на страницу оплаты
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center; font-size: 12px; color: #333; position: relative;" class="resize">
        <div style="position: absolute;">
            <button onclick="location.href='/admin'">Личный кабинет</button>
        </div>
        &copy; ООО Согласие Финанс
        <br/>
        ИНН/КПП: 2311177389/231101001, ОГРН: 1142311012568
        <br/>
        Email: 23@согласие-финанс.рф
        <br/>
        Номер телефона: 8 (800) 250-43-33
        <br/>
        Юридический/почтовый адрес: 350072, г. Краснодар, ул. 40 лет Победы, 56
        <br/>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26638548 = new Ya.Metrika({id:26638548, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/26638548" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{% endblock %}
